body{
    background: #ff8a80;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
nav{
}
footer{
    flex: 1 0 auto;
  }
#logo{
    color:#ef6c00;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
  }